body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(90deg,rgb(230, 56, 36), rgb(255, 97, 70));
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}